<template name="sadariDeleteError">
  <div class="ui delete error small modal transition">
    <div class="header">
      처리 불가
    </div>
    <div class="content">
      <p>사다리 방에 참여자가 있어 삭제할 수 없습니다.</p>
    </div>
    <div class="actions">
      <div class="ui cancel button">OK</div>
    </div>
  </div>
</template>

<template name="sadariIdleRoomLeave">
  <div class="ui idle room leave small modal transition">
    <div class="header">
      30분간 활동 없음
    </div>
    <div class="content">
      <p>사다리 방에서 퇴실되었습니다.</p>
    </div>
    <div class="actions">
      <div class="ui ok button">OK</div>
    </div>
  </div>
</template>


<template name="sadariIdleSiteLeave">
  <div class="ui idle site logout small modal transition">
    <div class="header">
      30분간 활동 없음
    </div>
    <div class="content">
      <p>사다리 클럽에서 로그아웃 되었습니다.</p>
    </div>
    <div class="actions">
      <div class="ui ok button">OK</div>
      <div class="ui deny button">재로그인</div>
    </div>
  </div>
</template>
